In [1]:
import pandas as pd

In [2]:
lol = pd.read_csv('fmcsa_data.txt', sep = ',', encoding='latin1')

In [42]:
lol.head()

,dot,name,dba,type,hm,pc,act_st,act_cit,act_sta,act_zip,...,phone,fax,email,mcs150_dt,mcs150_ml,mcs150_yr,ad_dt,st,units,drivers
0,1,FEDERAL MOTOR CARRIER SAFETY ADMINISTRATION,FMCSA TECHNOLOGY DIVISION,A,N,N,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,16-DEC-19,3000.0,2019.0,01-JUN-74,DC,4.0,4.0
1,10000,POWELL DISTRIBUTING CO INC,NaN,A,N,N,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,25-JUN-20,10000.0,2019.0,01-JUN-74,OR,1.0,1.0
2,1000000,JAMES EARL KILLINGSWORTH JR,JAMES KILLINGSWORTH TRUCKING,A,N,N,15 GASLINE ROAD,PHENIX CITY,AL,36870,...,(706) 325-1816,NaN,JIMBOSPLICE2469@YAHOO.COM,12-OCT-20,1.0,2020.0,23-JAN-02,AL,1.0,1.0
3,1000002,NEW JERSEY BOOM & ERECTORS INC,NaN,A,N,N,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,03-FEB-20,40000.0,2019.0,22-JAN-02,PA,2.0,1.0
4,1000004,RAY TRUCKING LLC,NaN,C,N,N,218 PEACHTREE ST,WARWICK,GA,31796,...,(229) 535-4140,NaN,MONTOYARAY@YMAIL.COM,01-JUN-20,25000.0,2019.0,22-JAN-02,GA,2.0,1.0

In [4]:
len(lol)

1746323

In [5]:
lmao = lol.dropna()

In [6]:
len(lmao)

41782

In [14]:
lol.columns = ['dot', 'name', 'dba', 'type', 'hm',
       'pc', 'act_st', 'act_cit', 'act_sta', 'act_zip',
       'act_cnt', 'ml_st', 'ml_cit', 'ml_sta',
       'ml_zip', 'ml_cnt', 'phone', 'fax', 'email',
       'mcs150_dt', 'mcs150_ml', 'mcs150_yr', 'ad_dt',
       'st', 'units', 'drivers']

In [37]:
lolME = lol[lol['st'] == 'ME']
lolMD = lol[lol['st'] == 'MD']

In [41]:
lolAg = lolME.append(lolMD)
len(lolAg)

45946

In [52]:
AgCo = lolAg[lolAg['units'] > 50]
AgCo2 = lolAg.dropna(subset = ['email'])

In [53]:
len(AgCo2)

12012

In [54]:
AgCo2.head()

,dot,name,dba,type,hm,pc,act_st,act_cit,act_sta,act_zip,...,phone,fax,email,mcs150_dt,mcs150_ml,mcs150_yr,ad_dt,st,units,drivers
231,1000529,ATLANTIC TILTLOAD LIMITED,NaN,A,N,N,15 NOTTING COURT,DARTMOUTH,NS,B3B 1N2,...,(902) 468-0908,NaN,FINANCE@ATLANTICTILTLOAD.COM,01-APR-20,36770.0,2018.0,24-JAN-02,ME,6.0,12.0
485,1001066,ELMER L KNOX JR,JR KNOX TRUCKING,C,N,N,94 BEAN RD,JAY,ME,04262,...,(207) 491-3449,NaN,JR.KNOX@YAHOO.COM,09-JUN-20,1.0,2019.0,28-JAN-02,ME,1.0,1.0
2540,1005581,WS TRANSPORT & LOGISTICS INC,NaN,A,N,N,445 DIXIE RD,TRESCOTT TWP,ME,04652,...,(207) 733-4441,(207) 733-4446,WS LOGISTICSINC@GMAIL.COM,07-JUN-20,75000.0,2019.0,20-FEB-02,ME,2.0,2.0
2742,1006103,KEVIN W CORMIER LTD,NaN,A,N,N,7492 ROUTE 3 BALLIE,ST STEPHENS,NB,E5A 1H2,...,(506) 466-3470,(506) 466-0919,KKMAETAK@GMAIL.COM,23-MAR-20,110000.0,2015.0,21-FEB-02,ME,3.0,4.0
2759,1006143,R K RUSSELL TRANSPORTATION LTD,NaN,A,N,N,3787 SCOTSBURN ROAD HWY 256,SCOTSBURN,NS,B0K 1R0,...,(902) 396-6558,(902) 485-4596,RKRUSSELL@BELLALIANT.NET,25-FEB-20,673997.0,2017.0,21-FEB-02,ME,5.0,5.0

In [55]:
AgCo3 = AgCo2[AgCo2['units'] > 10]

In [56]:
len(AgCo3)

536

In [57]:
AgCo3.head()

,dot,name,dba,type,hm,pc,act_st,act_cit,act_sta,act_zip,...,phone,fax,email,mcs150_dt,mcs150_ml,mcs150_yr,ad_dt,st,units,drivers
11016,1026441,DYSART'S SERVICE,NaN,A,Y,N,530 COLDBROOK RD,HERMON,ME,04401,...,(207) 942-4878,(207) 947-3559,TIMM@DYSARTS.COM,22-JUN-20,150000.0,2019.0,07-MAY-02,ME,25.0,18.0
13781,103359,CONRADS TRANSPORT LIMITED,NaN,A,N,N,2 CONO DR,DARTMOUTH,NS,B2W 3Y2,...,(902) 434-5040,(902) 434-1737,CONRADTRANSPORT@NS.ALIANTZINC.CA,05-SEP-19,191000.0,2018.0,01-JUN-74,ME,30.0,29.0
78627,1162153,CASCO BAY TRANSPORTATION LLC,NaN,A,N,N,102 INDUSTRIAL PARK RD,SACO,ME,04072,...,(207) 710-2323,(207) 710-2324,RICK@CASCOBAYTRANSPORTATION.COM,19-DEC-19,371510.0,2018.0,21-AUG-03,ME,12.0,10.0
86582,1181967,GTL TRANSPORTATION INC,NaN,A,N,N,115 TRIDER CR,DARTMOUTH,NS,B3B 1V6,...,(902) 468-3100,(902) 468-6317,TRACI@GTLTRANSPORTATION.COM,09-JUL-20,9182827.0,2019.0,27-OCT-03,ME,66.0,66.0
88824,1186893,K S D ATLANTIC TRANSPORT SYSTEMS INC,ATLANTIC TRANSPORT SYSTEMS,A,N,N,84-G WARREN AVENUE,WESTBROOK,ME,04092,...,(207) 591-4150,(207) 591-4154,TOMD@ATLANTICTRANSPORTSYSTEMS.COM,29-JUL-20,1174616.0,2018.0,14-NOV-03,ME,31.0,29.0

In [82]:
Ga = lol[lol['st'] == 'GA']

In [83]:
len(Ga)

81593

In [84]:
Ga2 = Ga[Ga['units'] > 80]
Ga3 = Ga2[Ga2['units'] < 150]

In [85]:
len(Ga3)

109

In [95]:
Gac = Ga.dropna(subset = ['name'])
len(Gac)

81592

In [99]:
Gac['name'] = Gac['name'].astype('string')

C:\Users\keato\anaconda\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [100]:
Gac.dtypes

dot            int64
name          string
dba           object
type          object
hm            object
pc            object
act_st        object
act_cit       object
act_sta       object
act_zip       object
act_cnt       object
ml_st         object
ml_cit        object
ml_sta        object
ml_zip        object
ml_cnt        object
phone         object
fax           object
email         object
mcs150_dt     object
mcs150_ml    float64
mcs150_yr    float64
ad_dt         object
st            object
units        float64
drivers      float64
dtype: object

In [107]:
us = Gac.name.str.find('Trucking') == True]

In [108]:
us

Empty DataFrame
Columns: [dot, name, dba, type, hm, pc, act_st, act_cit, act_sta, act_zip, act_cnt, ml_st, ml_cit, ml_sta, ml_zip, ml_cnt, phone, fax, email, mcs150_dt, mcs150_ml, mcs150_yr, ad_dt, st, units, drivers]
Index: []

[0 rows x 26 columns]